.rem-btn {
  background-color: rgb(235, 67, 67);
  border: none;
  border-radius: 8px;
  box-shadow: 1px 1px 1px black;
  color:white;
  cursor: pointer;
  margin: 6px;
  padding: 8px 20px;
}

.add-btn {
  background-color: #3cac28;
  border: none;
  border-radius: 8px;
  box-shadow: 1px 1px 1px black;
  color:white;
  cursor: pointer;
  margin: 6px 6px 10px 6px;
  padding: 8px 20px;
}

.cart-product {
  border: 1px solid rgb(146, 143, 143);
  border-radius: 8px;
  margin: 5px;
  padding: 5px;
  width: 500px;
}

.prod-img {
  margin: 5px;
  width: 400px;
}