.checkout-container {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.checkout-products {
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 5px;
}

.checkout-form {
  border: 1px solid black;
  padding: 5px;
}

.checkout-form label {
  display: flex;
  flex-direction: column;
}

.checkout-payment {
  display: flex;
  justify-content: space-around;
}

.checkout-radio {
  display: flex;
}

.checkout-radio input {
  margin-right: 5px;
}