.footer {
  background-color: #ffda08a1;
  color: #333;
  letter-spacing: 1.5px;
  padding: 20px 0;
  text-align: center;
}

.footer a {
  color: rgb(37, 45, 92);
  font-weight: 700;
  opacity: 80%;
  text-decoration: none;
}

.footer a:hover {
  color: black;
}
