* {
  box-sizing: border-box;
  font-family: Proxima Nova , -apple-system , Helvetica Neue , Roboto , sans-serif;
  margin: 0;
}

.App {
  background-color: rgb(218, 216, 216);
  text-align: center;
}

.body-container {
  display: flex;
}

.main-container {
  flex-grow: 1;
}
