* {
  box-sizing: border-box;
  font-family: Proxima Nova , -apple-system , Helvetica Neue , Roboto , sans-serif;
  margin: 0;
}

.App {
  background-color: rgb(218, 216, 216);
  text-align: center;
}

.body-container {
  display: flex;
}

.main-container {
  color: rgb(75, 73, 73);
  flex-grow: 1;
  font-size: 34px;
  font-weight: 600;
  padding-top: 100px;
}

.main-container-icon {
  color: rgb(75, 73, 73);
  font-size: 200px;
  line-height: 400px;
}
