* {
  box-sizing: border-box;
  font-family: Proxima Nova , -apple-system , Helvetica Neue , Roboto , sans-serif;
  margin: 0;
}

.App {
  background-color: rgb(218, 216, 216);
  text-align: center;
}

.body-container {
  display: flex;
}

.main-container {
  flex-grow: 1;
}

.main-message {
  color: rgb(75, 73, 73);
  font-size: 34px;
  font-weight: 600;
  padding-bottom: 50px;
  padding-top: 100px;
}

.magnifier {
  color: rgb(75, 73, 73);
  font-size: 200px;
}
